*{
    margin: 0;
    padding: 0;
}

body{
    background: #F3FAFC;
    font-family: 'Poppins', sans-serif;
    height: 900px;
}

/* Navigation */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav .navigation1{
    font-weight: 700;
    padding: 25px 0 25px 90px;
}

nav .navigation1 h1 span{
    color: #4775B3;
}

nav .navigation2{
    font-weight: 400;
}

nav .navigation2 li{
    display: flex;
    list-style: none;
    gap: 0 4rem;
    margin-top: .3em;
}

nav .navigation2 li a{
    text-decoration: none;
    color: black;
}

nav .navigation2 li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 1px;
    border-radius: 5px;
}

nav .navigation2 li a:hover::after{
    width: 100%;
    transition: .5s;
}

nav .navigation3{
    padding: 25px 90px 25px 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 0 1.5rem;
}

nav .navigation3 .language{
    display: flex;
    align-items: center;
    gap: 0 .5rem;
}

nav .navigation3 .language .flag{
    width: 36px;
    height: 26px;
}

nav .navigation3 .register{
    width: 100px;
    height: 36px;
    background: #4775B3;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/* option section */

.option-section{
    padding: 120px 90px 40px 90px;
    display: flex;
}

.option-section .search-bar{
    width: 500px;
    display: flex;
}

.option-section .search-bar .search-icon{
    width: 50px;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-section .search-bar .search-icon img{
    width: 25px;
    height: 25px;
}

.option-section .search-bar input{
    width: 300px;
    height: 50px;
    border: none;
    background: white;
    padding: 0 10px;
    outline: none;
    display: flex;
    font-size: 16px;
}

.option-section .search-bar input::-webkit-search-cancel-button{
    display: none;
}

.option-section .search-bar input::placeholder{
    color: #B2B2B2;
    font-size: 16px;
}

.option-section .filter-bar{
    display: flex;
    gap: 0 20px;
}

.option-section .filter-bar .place-filter, .price-filter, .type-filter, .buy-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    background-color: white;
}

.option-section .filter-bar .place-filter h2{
    font-size: 18px;
    font-weight: 400;
}

.option-section .filter-bar .place-filter img{
    width: 16px;
    height: 16px;
}

.option-section .filter-bar .price-filter h2{
    font-size: 18px;
    font-weight: 400;
}

.option-section .filter-bar .type-filter h2{
    font-size: 18px;
    font-weight: 400;
}

.option-section .filter-bar .buy-filter h2{
    font-size: 18px;
    font-weight: 400;
}

/* Property Selection */

.property-wrapper{
    padding: 0px 90px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    display: grid;
}

.property-wrapper a{
    text-decoration: none;
    color: black;
}

.property-wrapper .property1{
    width: 250px;
    height: 290px;
    background-color: white;
    cursor: pointer;
}

.property-wrapper .property1:hover{
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.property-wrapper .property1 .description{
    padding: 5px 10px;
}

.property-wrapper .property1 h3{
    font-size: 18px;
    font-weight: 500;
}

.property-wrapper .property1 h4{
    font-size: 16px;
    font-weight: 500;
}

.property-wrapper .property1 img{
    width: 250px;
    height: 160px;
}

.property-wrapper .property1 .location{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.property-wrapper .property1 .location img{
    width: 26px;
    height: 26px;
}

.property-wrapper .property1 .location p{
    font-size: 10px;
    color: #B2B2B2;
}